<html>
<head>

<title> Stats </title>
<style type="text/css">
	body,h1 {
			background-color:purple;
			color: gold;
			font-family: Liberation Serif;

		}
	a { color:white;
		font-size: 50px;
		background: black; }

</style>

</head>

<body>

<h1> <center> Stats of {{person.first_name}} {{person.last_name}} </h1> </center>

Enter the required stats 



Runs scored

No of 100s 

No of 50s 

No of 6 

No of 4 

Strike Rate 

Average


<br/>
<br/>
<br/>
<center><a href="/abook/addstats/{{person.id}}" style="text-decoration: none">Click to edit stats</a> </center>


</body>

</html>
